{% extends "main.html" %}
{% block content %}


<nav>
  <a href="/">Home</a>
</nav>
<h1> <a type="button"  href="/capteur/info/{{sensor.id}}">CSV</a></h1>
<table>
    <tr>
        <th>MAC</th>
        <th>Pièce</th>
        <th>Emplacement</th>
        <th>Nom</th>
        <th>Mise a jour</th>
    </tr>
    {% for sensor in sensors %}
    <tbody>
    <tr>
        <td>{{sensor.macaddr}} </td>
        <td>{{sensor.piece}}</td>
        <td>{{sensor.emplacement}} </td>
        <td>{{sensor.nom}} </td>
        <td><a href="/capteur/update/{{sensor.id}}">Mise à jour</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}